h2 {
    font-weight: 300;
    color: rgb(63, 0, 0);
}
p {
  font-size: x-large ;
  font-style: inherit;
  font-weight: lighter;
}

.germano:hover {
    background-color: rgb(247, 120, 120);
    transition: all 300ms;
}
.italico {
     font-size: larger;
     color: black;
}
.greiscou:hover {
    background-color: rgb(247, 120, 120);
    transition: all 300ms;
}
